.body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background: linear-gradient(to bottom, #008aff, #00ffe7);
  background-repeat: no-repeat;
}

.recipe-para {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.form-container {
  margin: 20px auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-checkbox {
  margin-right: 5px;
}

button[type='submit'] {
  display: block;
  margin: 10px 0;
  background-color: #008aff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
}

button[type='submit']:hover {
  cursor: pointer;
  background-color: #00ffe7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
}

.recipeButton {
  background-color: transparent;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  border: solid black 2px;
}

.imageDiv {
  text-align: center;
}

.recipeImage {
  border-radius: 10px;
}
